* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #0d1f2d;
  --secondary: #1d2e3d;
  --tertiary: #ff3d3d;
  --borders: #354656;
  --accent: #ffe0c8;
  --font: #fffcfa;
  --hover: #0d6e6e;
  --heading: "Oswald", sans-serif;
  --paragraph: "Roboto", sans-serif;
}

body {
  background-color: var(--primary);
  margin: 0 auto;
  max-width: 1183px;
}

header {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #fffcfa;
  font-weight: 300;
  letter-spacing: 2px;
}

p {
  color: #fffcfa;
  font-family: var(--paragraph);
}

#logo {
  font-family: var(--heading);
  font-size: 40px;
  display: flex;
  align-items: center;
}

#logo span {
  display: flex;
  align-self: center;
}

#date,
#time {
  margin: 12px 0;
  font-size: 16px;
  text-align: right;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#pomodoro-div {
  grid-column: span 8;
}

#todo-div {
  grid-column: span 4;
}

#timer-mode label {
  font-family: var(--heading);
  color: var(--font);
  font-weight: 200;
  font-size: 20px;
  margin-right: 12px;
}

select {
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid var(--borders);
  background-color: var(--secondary);
  color: var(--font);
  width: 250px;
  font-size: 16px;
}

.select-item {
  padding: 12px 32px;
  font-size: 16px;
  font-family: var(--paragraph);
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid var(--borders);
  background-color: var(--secondary);
  color: var(--font);
}

.select-item-active {
  background-color: var(--hover);
}

#select-mode {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

#timer-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; /* Increased container width */
  height: 400px; /* Increased container height */
}

#circle-container {
  position: relative;
  width: 350px; /* SVG width */
  height: 350px; /* SVG height */
}

svg {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

circle {
  fill: none;
  stroke-width: 20; /* Increased stroke width for thicker circle */
}

circle:first-child {
  stroke: var(--accent);
}

#progress-circle {
  stroke: var(--tertiary);
  stroke-dasharray: 1005; /* Adjusted stroke-dasharray for larger circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  transform: rotate(-90deg);
  transform-origin: center;
}

.timer-text,
#current-mode {
  position: absolute;
  top: 45%;
  left: 50%;
  color: var(--font);
  font-family: var(--heading);
  transform: translate(-50%, -50%);
  font-size: 90px; /* Increased font size for timer text */
}

#current-mode {
  top: 70%;
  font-size: 32px;
}

#btns {
  position: relative;
  margin: 0px auto 0 auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

#start,
#stop {
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 16px 32px;
  max-width: 128px;
  min-width: 128px;
  text-align: center;
  /* border-bottom: 4px solid var(--accent); */
  color: var(--font);
  box-shadow: 0 3px var(--accent);
  outline: none;
}

#start:active,
#stop:active {
  box-shadow: 0 0px var(--accent);
  transform: translateY(4px);
}

#start:hover {
  background-color: #f72525;
}

#stop:hover {
  background-color: #024e4e;
}

#start {
  background-color: var(--tertiary);
}

#stop {
  background-color: var(--hover);
}

#todo-heading {
  display: flex;
  color: var(--font);
  font-size: 24px;
  font-family: var(--heading);
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-weight: 500;
}

#tasks-container {
  width: 100%;
  height: 450px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
  padding-right: 12px;
  padding-bottom: 12px;
}

#no-task {
  font-size: 16px;
  font-family: var(--heading);
  color: var(--font);
  opacity: 80%;
  text-align: center;
}

#tasks-container::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

#tasks-container::-webkit-scrollbar-track {
  background: var(--borders); /* color of the tracking area */
}

#tasks-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--borders); /* creates padding around scroll thumb */
}

.task-card {
  width: 100%;
  border-radius: 15px;
  background-color: var(--primary);
  border: 2px solid var(--borders);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.task-card img {
  cursor: pointer;
}

.task-card .task-text {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#add-task {
  display: flex;
  justify-content: center;
  padding-right: 16px;
}

#add-task-btn {
  border: none;
  border-radius: 15px;
  background-color: var(--tertiary);
  color: var(--font);
  cursor: pointer;
  padding: 16px 32px;
  width: 100%;
}

#add-task-btn:hover {
  background-color: #f72525;
}

.close,
.done {
  border: none;
  background-color: transparent;
}

/* MODAL */
#modal-container {
  width: 50%;
  max-width: 640px;
  top: 30%;
  left: 30%;
  background-color: var(--secondary);
  position: absolute;
  z-index: 2;
  border-radius: 15px;
  padding: 40px 90px;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px; */
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 31, 45, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
  display: none;
}

textarea {
  min-height: 146px;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 8px;
  border: 3px solid var(--accent);
  background-color: var(--borders);
  color: var(--font);
  font-size: 16px;
  font-family: var(--paragraph);
}

textarea:focus {
  outline: none;
}

#modal-btns {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

#add,
#cancel {
  width: 35%;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--paragraph);
}

#add {
  background-color: var(--tertiary);
  color: var(--font);
}

#add:hover {
  background-color: #f72525;
}

#cancel {
  color: var(--tertiary);
  border: 2px solid var(--tertiary);
  background: var(--secondary);
}

#cancel:hover {
  color: #f72525;
  border: 2px solid #f72525;
}

/* PRELOADER */
.wheel-and-hamster {
  --dur: 1s;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 12em;
  height: 12em;
  font-size: 14px;
  z-index: 2;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

.fade {
  opacity: 0;
  visibility: hidden;
}

#overlay-loader {
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  position: absolute;
}
